@page
@model SacramentProgram.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].Conducting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].OpeningHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].SacramentHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].IntermediateHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].ClosingHymn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].OpeningPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].ClosingPrayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].SpeakerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Program[0].MeetingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Program) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Conducting)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SacramentHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntermediateHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingHymn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OpeningPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClosingPrayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeetingDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
